---
---

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



.title {
    font-family: 'Lobster', cursive;
}

.logo {
    width: 320px;
    background: rgb(221,220,218);
    background: linear-gradient(0deg, rgba(221,220,218,1) 0%, rgba(255,255,255,0.5) 100%);
    border-radius: 330px;
    padding: 10px;
    margin-top: 10px;
}


.menu {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    background-color: #f1f1f1;
  }
  
  .item-menu a {
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
  }
  
  .item-menu  a.active {
    background-color: #5b96a9;
    color: white;
  }
  
  .item-menu  a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .item-menu {
      display: inline; 
         
  }

@import 'main-corredora';